spring:
  config:
    activate:
      on-profile: local

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8085/realms/fastorder

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false  # sem service discovery local

eureka:
  client:
    enabled: false  # desabilita Eureka local
