server:
  port: 8084

spring:
  application:
    name: gateway

  profiles:
    default: local

  output:
    ansi:
      enabled: ALWAYS

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,metrics,prometheus
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
