server:
  port: 8084

spring:
  application:
    name: gateway

  profiles:
    default: local

  output:
    ansi:
      enabled: ALWAYS

management:

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans  # Zipkin container

  tracing:
    sampling:
      probability: 1.0   # local; em prod usar 0.1

  endpoints:
    web:
      exposure:
        include: health,info,gateway,metrics,prometheus

  endpoint:
    health:
      show-details: when_authorized
