spring:
  config:
    activate:
      on-profile: local

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8085/realms/fastorder

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    enabled: true #false desabilita local
  instance:
    prefer-ip-address: true
