server:
  port: 8084

spring:
  application:
    name: gateway

  profiles:
    default: local

  output:
    ansi:
      enabled: ALWAYS

management:

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans  # Zipkin container

  tracing:
    sampling:
      probability: 1.0   # local; em prod usar 0.1

  endpoints:
    web:
      exposure:
        include: health,info,gateway,metrics,prometheus

  endpoint:
    health:
      show-details: when_authorized
    gateway:
      enabled: true

resilience4j:
  circuitbreaker:
    instances:
      globalCB:
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 15s
        permittedNumberOfCallsInHalfOpenState: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        registerHealthIndicator: true

  timelimiter:
    instances:
      globalCB:
        timeoutDuration: 3s

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.cloud: INFO
    org.springframework.cache: TRACE