spring:
  config:
    activate:
      on-profile: cloud

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8084/realms/fastorder

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

eureka:
  client:
    enabled: true
  instance:
    prefer-ip-address: true
