spring:
  config:
    activate:
      on-profile: cloud

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8085/realms/fastorder

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD:}


eureka:
  client:
    enabled: true
  instance:
    prefer-ip-address: true
