<configuration>

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <!-- APPENDER JSON PADRÃO (LOKI / OBSERVABILIDADE) -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">

            <!-- Nome do serviço -->
            <customFields>{"service":"${appName}"}</customFields>

            <!-- Inclui MDC (traceId, spanId, etc) -->
            <includeMdc>true</includeMdc>

            <!-- Melhora compatibilidade com Loki -->
            <timeZone>UTC</timeZone>

        </encoder>
    </appender>

    <!-- LOG NÍVEL SPRING REDUZIDO -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>
    <logger name="org.springframework.cloud.gateway" level="INFO"/>

    <!-- SUA APLICAÇÃO -->
    <logger name="br.com.rafaellbarros" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>
