<configuration>

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <logLevel/>
                <loggerName/>
                <threadName/>
                <message/> <!-- GARANTE A MESSAGE -->

                <arguments/>

                <mdc/> <!-- traceId / spanId -->

                <stackTrace> <!-- GARANTE STACKTRACE COMPLETO -->
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>50</maxDepthPerThrowable>
                        <maxLength>20480</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <exclude>sun\.reflect\..*</exclude>
                        <exclude>java\.lang\.reflect\..*</exclude>
                    </throwableConverter>
                </stackTrace>

                <pattern>
                    <pattern>
                        {
                        "service": "${appName}"
                        }
                    </pattern>
                </pattern>

            </providers>

        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>
    <logger name="org.springframework.cloud.gateway" level="INFO"/>
    <logger name="br.com.rafaellbarros" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>