# docker-compose.yml
version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: fastorder-db
    environment:
      POSTGRES_DB: fastorder_db
      POSTGRES_USER: fastorder
      POSTGRES_PASSWORD: fastorder
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: