spring:
  config:
    activate:
      on-profile: cloud

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD:}

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka


