<configuration>

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <!-- PERFIS DEV / LOCAL -->
    <springProfile name="dev | local | default">

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36}
                    [%X{traceId:-},%X{spanId:-}] - %msg%n
                </pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

    </springProfile>

    <!-- PERFIS STAGING / PROD -->
    <springProfile name="staging | prod | cloud">

        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">

                <!-- Campos fixos -->
                <customFields>{"service":"${appName}"}</customFields>

                <!-- 🔥 CAMPOS DE RASTREABILIDADE -->
                <includeMdc>true</includeMdc>

                <!-- (Opcional) renomeia campos MDC -->
                <mdcKeyFieldName>traceId=traceId</mdcKeyFieldName>
                <mdcKeyFieldName>spanId=spanId</mdcKeyFieldName>

            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>

    </springProfile>

</configuration>
